@page "/results"
@using platejury_app.Data
@inject PlaylistService playlistService
@inject VotingService votingService
@inject HistoryService historyService
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager

<PageTitle>platejury-app results</PageTitle>
<div>
    <button @onclick="PreviousWeek"><i class="oi oi-media-skip-backward"></i></button>
    <button @onclick='() => navManager.NavigateTo("/")'><i class="oi oi-home"></i></button>
    <button @onclick='() => navManager.NavigateTo("/statistics")'><i class="oi oi-people"></i></button>
</div>
<ResultsTable Theme=@Theme DisplayNames=DisplayNames TrackNames=TrackNames Votes=Votes Results=ResultSet/>